

.dashboard-container {
    height: 100vh;
    background: #FAFAFA;
    overflow: auto;
    &::-webkit-scrollbar {
        width: 10px;
        height: 100%;
        
    }

    &::-webkit-scrollbar-thumb {
        -webkit-border-radius: 10px;
        border-radius: 10px;
        background-color: #C4C9CC;
    }

    &::-webkit-scrollbar-thumb:window-inactive {
        background-color: rgba(50, 50, 50, 0.40); 
        
    }
}

.create-project-btn {
    width: 180px;
    height: 30px;
    background-color: gray;
    border: none;
    margin-top: 20px;
}

.create-project-thumb-body{

    img{
        width: 60px;
        height: 60px;
    }
}

.create-project-btn-link {
    text-decoration: none;
    font-size: 12pt;
    color: white;
}